<!-- Toolbar -->
<div
  class="container"
  fxLayout="column"
  fxLayoutAlign="center strech"
  fxFill
  fxFlexAlign="stretch"
>
  <mat-toolbar color="primary" class="app-header">
    <div>
      <a href="http://localhost:4200" target="_blank" class="positronx"
        >BookInfo</a
      >
    </div>
    <span class="nav-tool-items">
      <a
        mat-button
        routerLink="/bookDetails"
        routerLinkActive="active"
        (click)="logout()"
        >Log out</a
      >
    </span>
  </mat-toolbar>

  <router-outlet></router-outlet>
</div>
