<div
  class="container"
  fxLayout="row"
  fxLayoutAlign="center stretch"
  fxLayoutGap.xs="0"
>
  <div class="item item-1" fxFlex="40%"></div>
  <div class="item item-2" fxFlex="20%" fxFlexOrder="2">
    <mat-card
      fxLayout="column"
      fxLayoutAlign="center center"
      class="mat-elevation-z8"
    >
      <mat-card-header>
        <mat-card-title>Add or Update Book Details</mat-card-title>
      </mat-card-header>
      <mat-card-content
        fxFlex="100%"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        <form [formGroup]="form">
          <mat-form-field class="example-full-width" [floatLabel]="true">
            <mat-label>ID</mat-label>
            <input matInput formControlName="id" />
          </mat-form-field>

          <mat-form-field class="example-full-width" [floatLabel]="true">
            <mat-label> First Name</mat-label>
            <input matInput formControlName="firstName" />
          </mat-form-field>

          <mat-form-field class="example-full-width" [floatLabel]="true">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" />
          </mat-form-field>
        </form>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title></mat-card-title>

        <div
          fxLayout="row"
          fxLayoutAlign="end center"
          fxLayoutGap="10px"
          fxLayoutGap.xs="0"
          fxFlex="100%"
        >
          <button
            mat-stroked-button
            color="submit"
            class="btn-block"
            (click)="createOrUpdateStudent()"
          >
            Update
          </button>
          <button
            mat-stroked-button
            color="submit"
            class="btn-block"
            routerLink="/bookDetails"
          >
            Cancel
          </button>
        </div>
      </mat-card-header>
    </mat-card>
  </div>
  <div class="item item-2" fxFlex="40%" fxFlexOrder="3"></div>
</div>
